---
title: Headings
status: In progress
tabs:
  - tab: html
  - tab: css
  - tab: js
  - tab: description
  - tab: links
jsDoc: <%= jsDocBase %>/filename.md
---
<h1 class="title--huge">This is a huge header</h1>
<h2 class="title--xlarge">This is a very large header</h2>
<h3 class="title--large">This is a large header</h3>
<h4 class="title--medium">This is a moderate header</h4>
<h5 class="title--small">This is a small header</h5>
<h6 class="title--xsmall">This is a tiny header</h6>